.site {
    header {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0;
        z-index: -1;
        background-color: $white;

        .scroll {
            position: absolute;
            bottom: -8rem;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.5;
            cursor: default;

            &::after {
                content: '';
                display: block;
                height: $call-to-scroll-height;
                width: 2px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 3rem;
                background: linear-gradient(
                    0deg,
                    $main 0%,
                    $white 50%,
                    $main 100%
                );
                background-size: 200%;
                animation: scrollBarAnimation 2s ease-in-out infinite;
            }
        }

        .img {
            position: absolute;
            transform: scaleX(-1);

            &:nth-of-type(1) {
                width: 120rem;
                rotate: -40deg;
                top: 10%;
                right: -30%;
                animation: image_ladle 12s infinite;
            }

            &:nth-of-type(2) {
                width: 20rem;
                top: 27%;
                left: 16%;
                animation: image_can 8s infinite;
                opacity: 0.9;
            }

            img {
                width: 100%;
            }
        }

        .content {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h3 {
                font-size: 3rem;
                font-weight: 200;

                span {
                    font-size: 5rem;
                }
            }

            h2 {
                font-weight: 200;
                font-size: 4rem;
                margin: -1rem 0 2rem 0;

                span {
                    font-family: sans-serif;
                    text-transform: uppercase;
                    font-size: 10rem;
                    letter-spacing: -7px;
                    color: $white;
                    font-weight: 600;
                    position: relative;
                    -webkit-text-stroke: 2px $main;

                    span {
                        position: absolute;
                        top: 1.8rem;
                        left: 0;
                        color: $main;
                        z-index: -1;
                        background: -webkit-linear-gradient(
                            $main 0%,
                            darken($main, 20%) 50%,
                            $main 100%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: gradientFlow 2s ease-in-out infinite;
                        -webkit-text-stroke: 0px $main;
                        background-size: 200%;
                    }
                }
            }
        }
    }
}
