.site {
    .introduction {
        display: flex;
        flex-direction: column;
        padding-bottom: 10rem;

        & > * {
            width: 100%;
        }

        .top {
            position: relative;

            h2 {
                bottom: -5rem;
                left: 4rem;
            }

            // Black filter
            &:after {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                background-color: $black;
                z-index: 1;
                opacity: 0.5;
            }

            div {
                overflow: hidden;
                height: 30rem;
                position: relative;
                z-index: -2;

                img {
                    width: 130%;
                    filter: blur(5px);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    z-index: -1;
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            margin-top: 15rem;

            .content {
                margin: auto auto 2rem auto;
                width: $section-width;
                text-align: left;
                padding: 0 20rem;

                h2 {
                    margin-bottom: 2rem;
                }

                p {
                    font-weight: 300;
                    font-size: 1.7rem;
                    line-height: 1.4;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 10rem;
                    background-color: $main;
                    margin-top: 5rem;
                    left: 50%;
                    position: relative;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
