:root {
    font-family: $font;
}

a {
    font-family: $font;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 10.6rem;
    font-family: $font-serif;
    color: $black;
}

h2 {
    font-weight: 600;
    font-size: 5rem;
    color: $black;
}

blockquote {
    font-size: 1.6rem;
    font-family: $font;
    font-weight: 300;
    background-color: $gray;
    padding: 2rem;
    margin: 1rem 0;
    border-left: 6px solid $gray;
    line-height: 1.3;
}
